img {
    width: 500px;
}

body {
    background-color: lightblue;
}
#bridge { 
    
    position: absolute;
}

#skyline { 
    width: 1000px;
}

h1 {
    text-align: center;
}

.rotated {
    -webkit-transform: rotateY(180deg);
}